[mysqld]
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
symbolic-links=0

max_allowed_packet=300M

innodb_file_format=Barracuda
innodb_buffer_pool_size = 1G
innodb_flush_log_at_trx_commit = 0

slow_query_log=on
slow_query_log_file=/var/log/slow.log
long_query_time=10

[mysqld_safe]
log-error=/var/log/mysql/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid
